Functions
mutate, rename,arrange, filter, select, summarize # return dataframe as output
Pipeline Operator %>%
Libraries
plyr, dplyr

In [21]:
library(dplyr)
library(datasets)
names(USArrests)
str(USArrests)

[1] "Murder"   "Assault"  "UrbanPop" "Rape"

'data.frame':	50 obs. of  4 variables:
 $ Murder  : num  13.2 10 8.1 8.8 9 7.9 3.3 5.9 15.4 17.4 ...
 $ Assault : int  236 263 294 190 276 204 110 238 335 211 ...
 $ UrbanPop: int  58 48 80 50 91 78 77 72 80 60 ...
 $ Rape    : num  21.2 44.5 31 19.5 40.6 38.7 11.1 15.8 31.9 25.8 ...

In [26]:
head(select(USArrests, -(Murder:UrbanPop)))

           Rape
Alabama    21.2
Alaska     44.5
Arizona    31.0
Arkansas   19.5
California 40.6
Colorado   38.7

In [28]:
i <- match("Murder",names(USArrests))
j <- match("Assault", names(USArrests))
head(select(USArrests, -(i:j)))

           UrbanPop Rape
Alabama    58       21.2
Alaska     48       44.5
Arizona    80       31.0
Arkansas   50       19.5
California 91       40.6
Colorado   78       38.7

In [31]:
filter(USArrests,UrbanPop > 50 & Assault > 200)

   Murder Assault UrbanPop Rape
1  13.2   236     58       21.2
2   8.1   294     80       31.0
3   9.0   276     91       40.6
4   7.9   204     78       38.7
5   5.9   238     72       15.8
6  15.4   335     80       31.9
7  17.4   211     60       25.8
8  10.4   249     83       24.0
9  15.4   249     66       22.2
10 11.3   300     67       27.8
11 12.1   255     74       35.1
12 12.2   252     81       46.0
13 11.4   285     70       32.1
14 11.1   254     86       26.1
15 12.7   201     80       25.5

In [39]:
head(arrange(USArrests, desc(Assault)),3)

  Murder Assault UrbanPop Rape
1 13.0   337     45       16.1
2 15.4   335     80       31.9
3 11.3   300     67       27.8

In [38]:
head(rename(USArrests, Mur= Murder, Rp = Rape ),3)

        Mur  Assault UrbanPop Rp
Alabama 13.2 236     58       21.2
Alaska  10.0 263     48       44.5
Arizona  8.1 294     80       31.0

In [45]:
USArrests$Ppc <- USArrests$UrbanPop/100
head(USArrests)
head(mutate(USArrests,RppPop = Rape/UrbanPop))

           Murder Assault UrbanPop Rape Ppc
Alabama    13.2   236     58       21.2 0.58
Alaska     10.0   263     48       44.5 0.48
Arizona     8.1   294     80       31.0 0.80
Arkansas    8.8   190     50       19.5 0.50
California  9.0   276     91       40.6 0.91
Colorado    7.9   204     78       38.7 0.78

  Murder Assault UrbanPop Rape Ppc  RppPop
1 13.2   236     58       21.2 0.58 0.3655172
2 10.0   263     48       44.5 0.48 0.9270833
3  8.1   294     80       31.0 0.80 0.3875000
4  8.8   190     50       19.5 0.50 0.3900000
5  9.0   276     91       40.6 0.91 0.4461538
6  7.9   204     78       38.7 0.78 0.4961538

In [46]:
head(airquality,3)

  Ozone Solar.R Wind Temp Month Day
1 41    190      7.4 67   5     1
2 36    118      8.0 72   5     2
3 12    149     12.6 74   5     3

In [68]:
group_by(airquality, Temp)

    Ozone Solar.R Wind Temp Month Day
1    41   190      7.4 67   5      1
2    36   118      8.0 72   5      2
3    12   149     12.6 74   5      3
4    18   313     11.5 62   5      4
5    NA    NA     14.3 56   5      5
6    28    NA     14.9 66   5      6
7    23   299      8.6 65   5      7
8    19    99     13.8 59   5      8
9     8    19     20.1 61   5      9
10   NA   194      8.6 69   5     10
11    7    NA      6.9 74   5     11
12   16   256      9.7 69   5     12
13   11   290      9.2 66   5     13
14   14   274     10.9 68   5     14
15   18    65     13.2 58   5     15
16   14   334     11.5 64   5     16
17   34   307     12.0 66   5     17
18    6    78     18.4 57   5     18
19   30   322     11.5 68   5     19
20   11    44      9.7 62   5     20
21    1     8      9.7 59   5     21
22   11   320     16.6 73   5     22
23    4    25      9.7 61   5     23
24   32    92     12.0 61   5     24
25   NA    66     16.6 57   5     25
26   NA   266     14.9 58   5     26
27   NA    NA      8.0 57   5     27
28   23    13     12.0 67   5     28
29   45   252     14.9 81   5     29
30  115   223      5.7 79   5     30
... ...   ...     ...  ...  ...   ...
124 96    167      6.9 91   9      1
125 78    197      5.1 92   9      2
126 73    183      2.8 93   9      3
127 91    189      4.6 93   9      4
128 47     95      7.4 87   9      5
129 32     92     15.5 84   9      6
130 20    252     10.9 80   9      7
131 23    220     10.3 78   9      8
132 21    230     10.9 75   9      9
133 24    259      9.7 73   9     10
134 44    236     14.9 81   9     11
135 21    259     15.5 76   9     12
136 28    238      6.3 77   9     13
137  9     24     10.9 71   9     14
138 13    112     11.5 71   9     15
139 46    237      6.9 78   9     16
140 18    224     13.8 67   9     17
141 13     27     10.3 76   9     18
142 24    238     10.3 68   9     19
143 16    201      8.0 82   9     20
144 13    238     12.6 64   9     21
145 23     14      9.2 71   9     22
146 36    139     10.3 81   9     23
147  7     49     10.3 69   9     24
148 14     20     16.6 63   9     25
149 30    193      6.9 70   9     26
150 NA    145     13.2 77   9     27
151 14    191     14.3 75   9     28
152 18    131      8.0 76   9     29
153 20    223     11.5 68   9     30