In [1]:
library(datasets)
library(reshape2)
head(mtcars)

                  mpg  cyl disp hp  drat wt    qsec  vs am gear carb
Mazda RX4         21.0 6   160  110 3.90 2.620 16.46 0  1  4    4
Mazda RX4 Wag     21.0 6   160  110 3.90 2.875 17.02 0  1  4    4
Datsun 710        22.8 4   108   93 3.85 2.320 18.61 1  1  4    1
Hornet 4 Drive    21.4 6   258  110 3.08 3.215 19.44 1  0  3    1
Hornet Sportabout 18.7 8   360  175 3.15 3.440 17.02 0  0  3    2
Valiant           18.1 6   225  105 2.76 3.460 20.22 1  0  3    1

In [8]:
mtcars$carname <- rownames(mtcars)
carMelt <- melt(mtcars,id=c("carname","gear","cyl"),measure.vars=c("mpg","hp"))
head(carMelt,n=3)
tail(carMelt,n=3)

  carname       gear cyl variable value
1 Mazda RX4     4    6   mpg      21.0
2 Mazda RX4 Wag 4    6   mpg      21.0
3 Datsun 710    4    4   mpg      22.8

   carname       gear cyl variable value
62 Ferrari Dino  5    6   hp       175
63 Maserati Bora 5    8   hp       335
64 Volvo 142E    4    4   hp       109

In [16]:
cylData <- dcast(carMelt,gear~ variable,median)
cylData

  gear mpg  hp
1 3    15.5 180
2 4    22.8  94
3 5    19.7 175

In [17]:
head(InsectSprays)

  count spray
1 10    A
2  7    A
3 20    A
4 14    A
5 14    A
6 12    A

In [21]:
tapply(InsectSprays$count,InsectSprays$spray,sum)

  A   B   C   D   E   F
174 184  25  59  42 200

In [23]:
splIns <- split(InsectSprays$count,InsectSprays$spray)
splIns

$A
 [1] 10  7 20 14 14 12 10 23 17 20 14 13

$B
 [1] 11 17 21 11 16 14 17 17 19 21  7 13

$C
 [1] 0 1 7 2 3 1 2 1 3 0 1 4

$D
 [1]  3  5 12  6  4  3  5  5  5  5  2  4

$E
 [1] 3 5 3 5 3 6 1 1 3 2 6 4

$F
 [1] 11  9 15 22 15 16 13 10 26 26 24 13

In [25]:
sprayCount <- lapply(splIns,sum)
sprayCount

$A
[1] 174

$B
[1] 184

$C
[1] 25

$D
[1] 59

$E
[1] 42

$F
[1] 200

In [26]:
unlist(sprayCount)

  A   B   C   D   E   F
174 184  25  59  42 200

In [27]:
sapply(splIns,sum)

  A   B   C   D   E   F
174 184  25  59  42 200

In [29]:
library(plyr)
ddply(InsectSprays,.(spray),summarize,sum=sum(count))

  spray sum
1 A     174
2 B     184
3 C      25
4 D      59
5 E      42
6 F     200

In [32]:
spraySums <- ddply(InsectSprays,.(spray),summarize,sum=ave(count,FUN=sum))
spraySums

    spray sum
1   A     174
2   A     174
3   A     174
4   A     174
5   A     174
6   A     174
7   A     174
8   A     174
9   A     174
10  A     174
11  A     174
12  A     174
13  B     184
14  B     184
15  B     184
16  B     184
17  B     184
18  B     184
19  B     184
20  B     184
21  B     184
22  B     184
23  B     184
24  B     184
25  C      25
26  C      25
27  C      25
28  C      25
29  C      25
30  C      25
... ...   ...
43  D      59
44  D      59
45  D      59
46  D      59
47  D      59
48  D      59
49  E      42
50  E      42
51  E      42
52  E      42
53  E      42
54  E      42
55  E      42
56  E      42
57  E      42
58  E      42
59  E      42
60  E      42
61  F     200
62  F     200
63  F     200
64  F     200
65  F     200
66  F     200
67  F     200
68  F     200
69  F     200
70  F     200
71  F     200
72  F     200

Functions
sapply, tapply, mutate, cut2, cut, ave, sum, ddply, dcast, rownames, melt, head, tail, lapply
Libraries
plyr, Hmisc, reshape2, datasets